<ion-header>
  <ion-toolbar>
    <ion-title>Simulcasts Season</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-row>
          <ion-col size="12" *ngFor="let anime of leftSideList">
            <ion-card (click)="showDetails(anime)">
              <ion-img [src]="anime.image_url" alt="anime_img"></ion-img>
              <ion-card-header>
                <ion-card-subtitle
                  >{{anime.airing_start | date}}</ion-card-subtitle
                >
                <ion-card-title> {{anime.title}} </ion-card-title>
              </ion-card-header>

              <!-- <ion-card-content>
                {{anime.synopsis}}
              </ion-card-content> -->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-row>
          <ion-col size="12" *ngFor="let anime of rightSideList">
            <ion-card (click)="showDetails(anime)">
              <ion-img [src]="anime.image_url" alt="anime_img"></ion-img>
              <ion-card-header>
                <ion-card-subtitle
                  >{{anime.airing_start | date}}</ion-card-subtitle
                >
                <ion-card-title> {{anime.title}} </ion-card-title>
              </ion-card-header>

              <!-- <ion-card-content>
                {{anime.synopsis}}
              </ion-card-content> -->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
